<div class="container">
    <h1 class="text-center">注册账号</h1>
    <form nz-form class="login-form">
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzRequired nzFor="email">用户名</nz-form-label>
            <nz-form-control [nzSm]="19" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="email" id="email" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzRequired nzFor="email">邮箱</nz-form-label>
            <nz-form-control [nzSm]="19" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="email" id="email" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzRequired nzFor="email">验证码</nz-form-label>
            <nz-form-control [nzSm]="6" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="email" id="email" />
            </nz-form-control>
            <nz-form-control [nzSm]="8">
                <button nz-button nzType="link">发送验证码</button>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzFor="password" nzRequired>密码</nz-form-label>
            <nz-form-control [nzSm]="19" nzErrorTip="Please input your password!">
                <input nz-input type="password" id="password" formControlName="password" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="5" nzFor="password" nzRequired>重复密码</nz-form-label>
            <nz-form-control [nzSm]="19" nzErrorTip="Please input your password!">
                <input nz-input type="password" id="password" formControlName="password" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button nz-button class="login-form-button" nzType="primary">注 册</button>
                有账号？
                <a (click)="signIn()">直接登陆!</a>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>