.person-main {
    height: 100%;
    max-width: 935px;
    margin: 0 auto;
    display: flex;
}

.left-body {
    height: 100vh;
    width: 614px;
    border: 1px solid red;
    overflow: auto;
    margin-right: 28px;
}